body {
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.btn-login {
    background-color: #0d6efd;
    font-weight: bold;
}